.topnav {
    background-color: #fff;
    height: 60px;
    border-bottom: 2px solid #E9ECEF;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    /* background-color: #2a3c50; */
    top: 0;
    width: 100%;
    /* text-align: center; */
    display: block;

}

.navbar {
    border-bottom: 2px solid #E9ECEF;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 60px;


}

.navitem {
    align-items: center;

}

.nav {

    display: flex;
    justify-content: center;
    /* margin: 0px 90px; */
    margin-left: 140px;



}

.nav a {
    display: flex;
    justify-content: center;
    color: #4E6E7E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat";
}

.headcontent {
    font-size: 13px;
}

.active1 {
    color: #219EBC !important;
    margin-left: -20px;
    font-size: 13px;
    font-weight: bold;
    align-items: center;

}

.active {
    color: #219EBC !important;
    margin-top: 15px;

}

.googleimg {
    float: left;
    display: block;
    /* height: 51px; */
    margin: 13px;
    margin-left: 50px;
}

.gimg {
    /* margin-top: -22px; */

}

.buttonnav {

    margin-right: 28px !important;
    float: right;
}

.createbtn {
    color: #219EBC !important;
    border-color: #219EBC !important;
    background-color: none !important;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: "bold";
    font-weight: bold;
}

.createbtn:hover {
    background-color: #fff !important;
}

.sidenav {
    height: auto;
    width: 200px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    /* padding-top: 20px; */
    padding-left: 50px;
    margin-top: 80px;
}

.sidetext {
    margin: 0px 10px;
    font-size: 14px;

}

.checkb {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 12px;
    color: #9AACB5;
    display: block;
    font-family: "Montserrat";
    line-height: 30px;
    margin-left: -13px;


}

.cardcont {
    /* margin-left: 200px; */
    margin-top: 100px;
    padding-right: 40px;


}

.card-img-top {
    width: 125px;
    height: 157px;
    margin-top: 45px;
    margin-bottom: 48px;
}

.card {
    align-items: center;
    background-color: #E3F7F4;
    border: aliceblue;
    height: 245px;

}

.cardimg {
    align-items: center;
}

.cardbackground {
    height: 245px;
    background-color: #E3F7F4;


}

.card3 {
    background-color: #F7F7ED !important;
}

.cardbackground3 {
    background-color: #F7F7ED !important;
}

.card9 {
    background-color: #F7F7ED !important;
}

.cardbackground9 {
    background-color: #F7F7ED !important;
}

.smartrow {
    margin-top: 0px;

}

.pixeltext {
    font-size: 18px;
    font-family: Montserrat;
    color: #023047;
    font-weight: bold;
    margin-bottom: 0px;


}

.pixelprice {
    float: right;
    font-size: 18px;
    font-family: Montserrat;
    color: #023047;
}

.smart {
    font-size: 12px;
    color: #B3C1C8;
    font-family: Montserrat;
    width: 115%;


}

.smartrate {
    font-size: 12px;
    color: #B3C1C8;
    font-family: Montserrat;
    float: right;

}

.checked {
    color: orange;
}

.end {
    justify-content: center;
    display: flex;
}

.endtext {
    font-size: 14px;
    color: #B3C1C8;
    font-family: Montserrat;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.line {
    /* position: relative; */
    /* margin-right: 60px;
    margin-left: 46px; */
    padding: 0px 50px;

}

.heading {
    margin-top: 120px;

}

.google {
    margin-left: 45px;
    font-family: Montserrat;
    color: #B3C1C8;
    font-size: 12px;
}

.row1 {
    row-gap: 0px !important;

}

.foottext {
    font-family: Montserrat;
    font-size: 12px;

}

.foottext1 {
    font-family: Montserrat;
    font-size: 12px;
    text-align: center;
}

.foot {
    text-decoration: none;
    color: #B3C1C8;
    /* padding: 14px 20px; */

}

.box {
    outline: 1px solid #E6EAED;
    /* border: none; */
    outline-style: auto;
}

.starimg {
    height: 16px;
    width: 16px;
}

.modal-dialog {
    margin-top: 70px;
}


.mobile1 {
    justify-content: center;
    display: flex;
    /* margin-top: 100px; */

}

.mobile {
    justify-content: center;
    display: flex;
    margin-top: 100px;

}

.bulleticon {
    display: flex;
    padding: 0px 45px;
    gap: 7px;

}

.bulleticon1 {
    display: flex;
    padding: 0px 45px;
    gap: 7px;

}


.bullet {
    padding: 0px 25px
}

.colorlist {
    float: right;
    display: flex;
}

.btnbuy {
    float: right;
    margin-bottom: 25px;

}

.pricel {
    padding: 0px 25px;

}

.buynow {
    float: right;
    margin-right: -25px;
    margin-top: -40px;

}

.lines {
    width: 100%;

}

.modal2 {
    width: 130%;

}

.modalcont {
    width: 175%;
    /* justify-content: center; */
    /* margin-right: 19px; */
    margin-left: -124px;
}

.left {
    float: left;
    /* width: 40%; */

}

.right {
    float: right;
    margin-left: 80px;
}

.mobilespec {
    padding: 0px 15px;
    color: #000;
    text-decoration: auto;
}

.mobilespec1 {
    padding: 0px 15px;
    color: #B3C1C8;
    text-decoration: auto;
}

.mobilespec2 {
    padding: 0px 15px;
    color: #B3C1C8;
    text-decoration: auto;
}

.sty {
    border-color: #E9ECEF;
    border-style: solid;
    padding: 10px 10px;
    margin-left: -5px;
    word-spacing: 10px;
    font-size: 13px;
    border-width: thin;


}

.savebtn {
    font-family: "Montserrat";
    float: right;
    color: rgb(33, 158, 188);
    font-size: 13px;
    font-weight: bold;
    border: none;
}

.savebtn:hover {
    color: #219EBC !important;
}

.border2 {

    border-color: #E9ECEF;
    border-style: solid;
    padding: 20px 20px;
    margin: 0px;
    /* margin-right: -14px; */
    margin-left: -5px;
    font-family: "Montserrat";
    font-size: 13px;
    border-width: thin;

}

.pricer {
    float: right;
}

.invoice {
    border-color: #E9ECEF;
    border-style: solid;
    margin-bottom: 15px;
    font-family: "Montserrat";
    font-size: 13px;
    border-width: thin;


}

.headmodal {
    border-bottom: none !important;
}

.textcol {
    color: #B3C1C8;
}

.form-label {
    color: #4E6E7E;
    font-size: 13px;
    font-family: "Montserrat";

}

.modal-title {
    font-family: "Montserrat";
    font-weight: bold;
}

.form-control {
    font-size: 13px;

}

.form-select {
    font-size: 13px;

}

.lefttext {
    font-size: 15px;

}

.lineh {
    line-height: 10px;
}

.paybtn {
    color: #ffffff !important;
    background-color: #219EBC !important;
    border-color: #219EBC !important;
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: bold;
}

.fontport {
    font-family: "Montserrat";

}

/* .cardhov:hover {
    display: none;
} */

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 3px;
    left: -1px;
    position: relative;
    background-color: #219EBC;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.righttext {
    margin-left: 30px;
    font-size: 14px;
}

.leftarrow {
    height: 5%;
    /* margin-left: 100px; */
    width: 5%;
    margin-right: 100px;
    margin-top: 50px;
}

.rightarrow {
    width: 5%;
    height: 5%;
    /* align-items: center; */
    /* margin: 2px 11px; */
    margin-left: 100px;
    margin-top: 50px
}

.buybtn {
    display: none;
    float: right;
    color: #fff;
    background-color: #219EBC;

}

.star {
    width: 60px;
    margin-bottom: 10px;
    height: 10px;
    padding: 0px 6px;
    margin-left: -9px;
}

.row {
    row-gap: 85px;

}

.row2 {
    row-gap: 8px !important;
}

.rating {
    margin-top: 8px;

}

.buybtn1 {
    display: none;
    width: 100px;
    margin-top: -15px;
    margin-left: -15px;
    color: #ffffff !important;
    background-color: #219EBC !important;
    border-color: #219EBC !important;
    font-family: "Montserrat" !important;
    font-size: 13px;
    font-weight: bold;

}

.viewd {
    display: none;
    font-family: "Montserrat";
    font-size: 12px;
    margin-top: 5px;

}

.cardhov:hover+.buybtn {
    display: block;
}

.cardhov:hover+.viewd {
    display: block;
}

.viewd {
    display: none;
}

.buybtn1 {
    display: none;
}

.card:hover .viewd {
    display: block;
}

.card:hover .buybtn1 {
    display: block;
}

.card:hover .smart {
    display: none;
}

.card:hover .smartrate {
    display: none;
}

.card:hover .pixel4 {
    display: none;
}

.card:hover .star {
    display: none;
}

.card:hover .rating {
    display: none;
}

.card-content {
    width: 100%;
    padding: 4px;
    margin-top: 10px;


}


@media only screen and (max-width: 600px) {
    .card {
        margin-top: 50px;
    }

    .sidenav {
        width: 413px;
        margin-top: 60px;
    }

    .foottext {
        justify-content: center;
        display: flex;
    }

    .rowfoot {
        row-gap: 10px !important;
    }

    .copyright {
        justify-content: center;
        display: flex;
    }

    .google {
        margin-left: 0px !important;
    }

    .buttonnav {
        margin-left: 145px;
    }

    .star {
        margin-left: -35px !important;

    }

    .cardpad {
        /* padding: 5px;
    margin-left: 100px;
    
    padding-left: 20px;
    margin-right: 25px; */
        padding-left: 20px;


    }
}

@media only screen and (min-width: 768px) {
    .star {
        margin-left: -35px !important;

    }

    .buttonnav {
        /* display: none!important; */
    }

}

@media only screen and (width: 768px) {
    .buttonnav {
        display: none !important;
    }

    .buybtn1 {
        margin-left: -33px;

    }
}

@media only screen and (min-width: 992px) {
    .star {
        margin-left: -40px !important;

    }
}

@media only screen and (min-width: 1200px) {
    .star {
        margin-left: -9px !important;

    }

    .cardpad {

        padding-left: 0px !important;


    }

    .buybtn1 {}

}